.film__item {
    text-align: center;
    width: 300px;
    list-style: none;
    padding: 10px;
    margin: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.film__item img {
    border-radius: 20px;
}
.film__title {
    font-size: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    color: #333333;
}
.film__btnFavorite {
    border: none;
    background: transparent;
}

.like {
    background: red;
}
