.myInput {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(183, 80, 80, 0.25);
    border-radius: 30px;
    border: none;
    width: 700px;
    height: 30px;
    padding-left: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: #090909;
}
